.product-card {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  align-items: start;
  gap: 6px;
}

.img-product {
  height: 240px;
  width: 240px;
  border-radius: 8px;
}

.product-title {
  font-weight: 700;
  font-size: 20px;
}

.product-description {
  color: #878787;
  text-align: left;
}

.tags-list-product {
  margin-top: 6px;
  display: flex;
  gap: 16px;
}

.tag-product {
  padding: 2px 16px;
  padding-bottom: 4px;
  color: #fff;
  border-radius: 8px;
  font-weight: 700;
  min-width: 60px;
  font-size: 13px;
}

.bg-seal {
  background-color: #5ED4DC;
}

.bg-pink {
  background-color: #DC5EB1;
}

.buy-section {
  display: flex;
  gap: 24px;
  margin-top: 16px;
  align-items: end;
}

.buy-price {
  font-size: 20px;
  font-weight: 700;
}

.buy-button {
  border: 0;
  background-color: #7045F5;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
}

.buy-button:hover {
  background-color: #5433b8;
  cursor: pointer;
}