.banner {
  background-color: #DC995E;
  padding: 0.5rem;
}

.titulo-banner {
  font-weight: 700;
  color: #fff;
}

.codigo-promo {
  padding: 2px 16px;
  background-color: #fff;
  border-radius: 8px;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}
 
.banner-container {
  justify-content: left;
  gap: 3rem
}
 