.header-search {
  display: flex;
  justify-content: space-between;
}

.container {
  margin-left: 144px;
  margin-right: 144px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.menu-items {
  display: inline-flex;
  gap: 96px;
}