.footer-top {
  padding: 5rem 3rem;
  background-color: #F5F5F5;
}

.footer-social-media {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.social-media-link {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: #6F6E6E;
}

.social-media-link:hover {
  background-color: #999696;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 5rem;
}

.link-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
}

.link-group-title {
  font-size: 16px;
  text-decoration: underline;
}

.link-group-item {
  text-decoration: none;
  color: #878787;
}

.logo-footer {
  font-size: 24px;
  font-weight: bold;
}

.footer-bottom {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem 3rem;
  color: #fff;
}