

.footer_top_section {
  padding: 5rem 3rem;
  background-color: #F5F5F5;
}

.social_media {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.social_media_item {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: #6F6E6E;
}

.social_media_item:hover {
  background-color: #999696;
}

.links {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 5rem;
}

.link_column_group {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
}

.group_title {
  font-size: 16px;
  text-decoration: underline;
}

.link_item {
  text-decoration: none;
  color: #878787;
}

.footer_bottom_section {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem 3rem;
  color: #fff;
}

.logo_footer {
  font-size: 24px;
  font-weight: bold;
}