.not-found-section {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.back-home-link {
  background: #94426E;
  color: white;
  padding: 24px 60px;
  border-radius: 8px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 24px;
  margin-top: 3rem;
  text-decoration: none;
}

.back-home-link:hover {
  background: #662e4c;
}